/* Main Styles */

body {
    background-color: #231f1e;
}

#navi {
    background-color: #231f1e;
}

.navbar-custom {
    color: #35cef0;
    text-decoration: none;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-custom .navbar-toggler {
    background-color: #2689a0;
    border-color: #d5d5d3;
}

nav .navbar-nav li a {
    color: #35cef0;
    text-decoration: none;
}

nav .navbar-nav li a:visited {
    color: #35cef0;
    text-decoration: none;
}

nav .navbar-nav li a:hover {
    color: #ef1923;
}

.core {
    max-width: auto;
    max-height: 30px;
    margin-left: 15px;
}

.core-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 75px;
}

.bio {
    color: #d5d5d3;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 200px;
    margin-bottom: 500px;
}

/* Pricing and services */

.center {
    text-align: center;
    margin-bottom: 25px;
}
.top-title {
    margin-top: 75px;
}

.titles {
    color: #d5d5d3;   
}

.placeholder {
    height: 700px;
    width: 75%;
    background-color: rgb(255, 130, 151);
    
}

.inner-text {
    color: #d5d5d3;
    text-align: center;
}

/* Services Images */

.card-title {
    text-align: center;
    color:#d5d5d3
}

.big-container {
    border: solid #d5d5d3;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
    border-radius: 20px;
}

.image-container {
    border-top: solid #d5d5d3;
    display: flex;
    background-color: #3b3433;
    border-radius: 0px 0px 20px 20px;
}

.secondary-container{
    /* display: inline-block; */
    /* border: solid blue; */
    /* margin-left: 70px; */
}

.interior-image {
    max-height: 550px;
    border-radius: 0px 0px 0px 20px;
}